.idea/
__pycache__/
env/
build/
dist/
mwax_mover.egg-info/
*.free
logs
.coverage
.pylintrc
.python-version
.vscode/
.pytest_cache
.venv
tests/data/1119683928/
tests/data/1184928224/
tests/data/test021/1768401673707300/index.json