.idea/
__pycache__/
env/
build/
dist/
mwax_mover.egg-info/
*.sub
*.free
tests/mock_mwacache_archiver
tests/mock_mwax
tests/mock_mwax_bf
tests/mock_mwax_calvin_test01
tests/mock_mwax_calvin_test02
tests/mock_mwax_calvin_test03
tests/mock_mwax_calvin_test04
tests/mock_mwax_dump
logs
.coverage
.pylintrc
.python-version
.vscode/
.pytest_cache