astropy==5.*
autopage
boto3==1.*
coloredlogs
cffi
cliff
cmd2
cryptography
debtcollector
dogpile.cache
importlib-metadata
inotify==0.2.*
iso8601
jsonpatch
jsonpointer
keystoneauth1
matplotlib==3.9.*
msgpack
mwalib
netaddr
netifaces
nptyping
numpy
openstacksdk
os-service-types
osc-lib
oslo.config
oslo.serialization
pandas
platformdirs
PrettyTable
psycopg2-binary==2.*
pycparser
pyperclip
python-cinderclient
python-keystoneclient
python-novaclient
python-openstackclient
requests==2.*
rfc3986
seaborn
scipy
setuptools
simplejson
stevedore
tabulate
tenacity==8.*
typing-extensions
tzdata
wheel
wrapt
zipp
